@charset "UTF-8";
* {
	margin: 0;
	padding: 0;
}

 hr {
  margin-top: 15px;
  margin-bottom: 15px;
  border: 0;
  border-top: 1px solid #eeeeee;
}


 .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
  background-color: #2096BA;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
}
#blank{
height: 20px;
}
.sidenav a:hover {
    color: gray;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.navbar-nav a{ 
font-size: 18px;
margin-top: 5px;
}

#h1 a,#h2 a,#h3 a,#h4 a{
font-size: 15px;
}

footer {
	clear: both;
 	background-color: #f2f2f2;
  padding: 25px;
 }