<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>weddingForm_1</display-name>
  <filter>
    <filter-name>encoding</filter-name>
    <filter-class>com.weddingform.filter.EncodingFilter</filter-class>
    <init-param>
      <param-name>encode</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>encoding</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <servlet>
    <servlet-name>report</servlet-name>
    <servlet-class>com.weddingform.control.ReportController</servlet-class>
    <init-param>
      <param-name>properties</param-name>
      <param-value>report.properties</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>report</servlet-name>
    <url-pattern>*.report</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>function</servlet-name>
    <servlet-class>com.weddingform.control.FunctionController</servlet-class>
    <init-param>
      <param-name>properties</param-name>
      <param-value>function.properties</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>function</servlet-name>
    <url-pattern>*.function</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>wedding</servlet-name>
    <servlet-class>com.weddingform.control.WeddingController</servlet-class>
    <init-param>
      <param-name>property</param-name>
      <param-value>wedding.properties</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>wedding</servlet-name>
    <url-pattern>*.wedding</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>company</servlet-name>
    <servlet-class>com.weddingform.control.CompanyController</servlet-class>
    <init-param>
      <param-name>property</param-name>
      <param-value>company.properties</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>company</servlet-name>
    <url-pattern>*.company</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>reservation</servlet-name>
    <servlet-class>com.weddingform.control.ReservationController</servlet-class>
    <init-param>
      <param-name>property</param-name>
      <param-value>reservation.properties</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>reservation</servlet-name>
    <url-pattern>*.reservation</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>search</servlet-name>
    <servlet-class>com.weddingform.control.SearchController</servlet-class>
    <init-param>
      <param-name>property</param-name>
      <param-value>search.properties</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>search</servlet-name>
    <url-pattern>*.search</url-pattern>
  </servlet-mapping>
</web-app>