@charset "UTF-8";
* {
	margin: 0;
	padding: 0;
}

header {
	height: 180px;
	width: 100%; 
	border-bottom: 1px solid #EAEAEA;    
}

#blank{
	width: 100%;
	height: 25px;
}
.bar{
width: 1100px;
height: 30px;
 margin : 0 auto;

}
.logo{
width: 190px;
height: 100px;
margin : 0 auto;
}

nav li{
	list-style: none;
	 float: right;
	  margin-left:20px;	 
}

nav li a{
	color:black;
	color:gray;
	text-decoration: none;
	font-size: 15px;
}

.top_menu {
	width: 1100px;
	height : 50px;
	margin:0 auto;
	
}
.dropdown a {
	color:gray;
	font-size:20px;
	text-align: left;
	text-decoration: none;
}

a:hover {
   color: black;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: white;
    opacity: 0.9;
    width: 1200px;
    height : 350px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a{
    color:gray;
	text-align: left;
	text-decoration: none;
}

#line{
width : 1100px;
border-top: 1px solid gray;
}

.hiden{
width : 270px;
height : 250px;
float: left ;
 padding-left: 30px;
}
.hiden p{
font-size:20px;
text-align: center;
}
pre{
font-family: 맑은 고딕;
color: gray;
line-height : 200%;
font-size:18px;
}

footer{
width: 100%;
height: 200px;
border-top: 1px solid #EAEAEA;
border-bottom: 1px solid #EAEAEA;
}
#footer_1{
width: 100%;
height: 50px;
border-bottom: 1px solid #EAEAEA;
}

#info{
width: 1100px;
height: 50px;
background-color: red;
margin: 0 auto;	
	
}
#footer_2{
width: 1100px;
height: 150px;
margin: 0 auto;

}
#footer_3{
width: 1100px;
height: 50px;
margin: 0 auto;

}
#footer_2 p,h3{
    padding-top : 10px;
	font-size: 15px;
	text-align: left;
	color : gray;
}